@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

html {
  height: 100%;
  background-color: hsl(0, 0%, 100%);
}

.main-container {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container {
  margin-top: 100px;
  margin-bottom: 45px;
}

.text-container h2 {
  font-weight: 300;
  margin-bottom: 20px;
}

.text-container .soon {
  font-weight: 700;
}

.text-container p {
  text-align: center;
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  text-align: center;

  #error-msg {
    display: none;
    color: hsl(354, 100%, 66%);
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 25px;
    min-width: 100%;
  }
}
.email-field {
  padding: 15px;
  min-width: 100%;
  display: inline-block;
  border-color: hsl(223, 100%, 88%);
  border-style: solid;
  border-radius: 30px;
  margin-bottom: 5px;
  border-width: 2px;
}

.email-field::placeholder {
  color: hsl(223, 100%, 88%);
}

.submit-btn {
  padding: 15px;
  min-width: 100%;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 40px;
  border-style: none;
  border-radius: 30px;
  background-color: hsl(223, 87%, 63%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  box-shadow: 1px 14px 28px 6px rgba(194, 211, 255, 0.42);
  -webkit-box-shadow: 1px 14px 28px 6px rgba(194, 211, 255, 0.42);
  -moz-box-shadow: 1px 14px 28px 6px rgba(194, 211, 255, 0.42);
}

.submit-btn:hover {
  background-color: hsl(223, 87%, 63%, 0.8);
  cursor: pointer;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 70%;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.social-container svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.icon-container {
  margin-left: 10px;
  display: flex;
  height: 35px;
  width: 35px;
  border: 1px solid hsl(0, 0%, 59%, 0.4);
  border-radius: 50%;
  align-items: flex-start;
  justify-content: center;
}

.social-container .icon-container:hover svg,
.social-container .icon-container:hover {
  fill: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  background-color: hsl(223, 87%, 63%);
  border-style: none;
  cursor: pointer;
}

.copyright-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-container p {
  text-align: center;
  font-size: 12px;
  opacity: 70%;
}

@media only screen and (min-width: 1100px) {
  .logo-container {
    margin-top: 80px;
    margin-bottom: 45px;
  }
  .input-container {
    width: 50%;
    text-align: center;

    #error-msg {
      display: none;
      color: hsl(354, 100%, 66%);
      font-size: 12px;
      font-style: italic;
      font-weight: 300;
      margin-bottom: 0;
      min-width: 0;
      text-align: left;
      margin-left: 50px;
      margin-top: 5px;
    }
  }

  .email-error-container {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    min-width: 40%;
  }

  form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }

  .email-field {
    min-width: 50%;
    margin-bottom: 0;
    float: left;
    margin-left: 10px;
  }

  input.submit-btn {
    min-width: 20%;
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    height: 48px;
    margin-left: 20px;
  }

  .image-container img {
    width: 50%;
  }

  .copyright-container {
    margin-bottom: 20px;
  }
}
